# editor-specific files
\#*
.#*
*~
.*.swp

# ELF files
*.o
*.a
*.so
*.lo
*.la
*.Plo

# python bytecode
*.pyc
*.pyo
__pycache__

# workflow
*.orig

# build system
/bin
/.bin

# debugging
callgrind.out.*
perf.data*
.gdb_history

# autocancer
.deps
.libs
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/ylwrap
Makefile
Makefile.in
